body{
  background-image: url(background.png);
  background-size: 100%;
}

header{
height: 100px;
width: 100%;
background: linear-gradient(90deg, #E28686 0%, #ECDE60 58.74%, #6CDA48 99.99%, #63E143 100%);
box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
}

.header_text{
  width: auto;
  height: auto;
  left: calc(50% - 891px/2 - 0.5px);
  font-size: 36px;
  line-height: 100px;
  text-align: center;
}

#calcGround{
width: 538px;
height: 335px;
margin-top: 150px;
margin-left: calc(50% - 538px/2 - 0.5px);
background: linear-gradient(90deg, #E28686 0%, #ECDE60 58.74%, #6CDA48 99.99%, #63E143 100%);
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
border-radius: 35px;
}
 .chInp{
margin-left: calc(50% - 80%/2 - 0.5px);
width: 80%;
height: 54px;
background: #F8F5F5;
border-radius: 5px;
font-size: 36px;
 }

#numb1{
  margin-top: 40px;
  margin-bottom: 15px;
}

#oper{
  margin-bottom: 15px;
  width: 20%;
  margin-left: calc(50% - 10% - 0.5px);
}

#numb2{
  margin-bottom: 15px;
}

#butt{
  width: 35%;
    margin-left: calc(50% - 35%/2 - 0.5px);
}

#result{
  width: 100%;
  height: 70px;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  color: yellow ;
}
